aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
billiard==3.6.4.0
blis==0.7.9
boto3==1.26.142
botocore==1.29.142
catalogue==2.0.8
celery==5.2.7
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
confection==0.0.4
cryptography==40.0.2
cymem==2.0.7
dataclasses-json==0.5.7
deprecation==2.1.0
Django==4.2.1
django-appconf==1.0.5
django-celery-results==2.5.1
django-cryptography==1.1
django-elasticsearch-dsl==7.3
django-elasticsearch-dsl-drf==0.22.5
django-filter==23.2
django-nine==0.2.7
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
elasticsearch==7.17.9
elasticsearch-dsl==7.4.1
filelock==3.12.0
frozenlist==1.3.3
greenlet==2.0.2
idna==3.4
Jinja2==3.1.2
jmespath==1.0.1
kombu==5.2.4
langchain==0.0.146
langcodes==3.3.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mdurl==0.1.2
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
numexpr==2.8.4
numpy==1.24.3
openapi-schema-pydantic==1.2.4
packaging==23.1
pandas==2.0.1
pathy==0.10.1
pdfminer.six==20221105
phonenumbers==8.13.11
pikepdf==7.2.0
Pillow==9.5.0
preshed==3.0.8
presidio-analyzer==2.2.32
presidio-anonymizer==2.2.32
prompt-toolkit==3.0.38
psycopg2-binary==2.9.6
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.7
Pygments==2.15.1
PyJWT==2.7.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
redis==4.5.5
regex==2023.5.5
requests==2.30.0
requests-file==1.5.1
rich==13.3.5
s3transfer==0.6.1
six==1.16.0
smart-open==6.3.0
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.48
sqlparse==0.4.4
srsly==2.4.6
stripe==5.4.0
tenacity==8.2.2
thinc==8.1.10
tiktoken==0.4.0
tldextract==3.4.4
tqdm==4.65.0
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
vine==5.0.0
wasabi==1.1.1
wcwidth==0.2.6
yarl==1.9.2
